body{
    margin: 0;
    padding: 0;
    background: #fff;
    text-align:center;
    color:#ffffff;
    background-position:top;
    background-size:25%;
    opacity: 0.8;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.loginbox {
    width:320px;
    height: 420px;
    background: rgb(210, 218, 255);
    color: #575252;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%;)
    box-sizing: border-box;
    padding: 70px 30px;
    margin-top: -170px;
    margin-left: -170px;
}

.avatar {
    width: 150px;
    height: 150px;
    position: absolute;
    top: -90px;
    left: 30%;
}

h1 {
    margin: 0;
    padding: 50px 0 60px 0px;
    font-size: 45px;
    line-height: 1em;
    color: red;
}

.loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.loginbox input {
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    width: 120px;
    background: red;
    color: #fff;
    font-size: 20px;
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover {
    cursor: pointer;
    background: rgb(59, 4, 16);
    color: white;
}

.loginbox a {
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    color:black;
}

.loginbox a:hover {
    color: blue;
} 



